@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');

.Components1-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    width: 100%;
    background-color: #fff5ee;
    z-index: 1;
    padding: 20px; /* Added padding for better spacing on smaller screens */
}

.Components1-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    text-align: left;
}

.Components1-content {
    font-family: 'Montserrat', sans-serif;
    color: #3d3d3d;
    font-size: 1.3rem;
    font-weight:100;
    text-align: left;
}

.Components1-button1, .Components1-button2 {
    padding: 15px 20px;
    transition: 0.3s;
    cursor: pointer;
}

.Components1-button1 {
    background-color: #ff560e; 
    color: #ffffff;
}


.Components1-button2 {
    background-color: transparent;
    border: solid 1px #ff560e;
    color: #ec6c34;
}


.Components1-picture {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Components1-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

/* For large devices (desktops, 1024px and above) */
@media (min-width: 1024px) {
    .Components1-container{
        padding-left: 5px;
        padding-right: 20px;
    }

    .Components1-button2:hover {
        background-color: #ff560e; 
        color: #ffffff;
    }

    .Components1-button1:hover {
        background-color: transparent;
        border: solid 1px #ff560e;
        color: #ec6c34;
    }
    
}

/* For tablets (768px and below) */
@media (max-width: 768px) {
    .Components1-container {
        flex-direction: column;
        height: auto;
    }

    .Components1-header {
        padding-top: 10px;
        font-size: 2.5rem;
        text-align: center;
    }

    .Components1-content {
        font-size: 1.2rem;
        text-align: center;
    }

    .Components1-picture {
        height: 300px;
        width: 300px;
        margin-top: 20px;
    }

    .Components1-buttons-container {
        justify-content: center;
    }
}

/* For mobile devices (480px and below) */
@media (max-width: 480px) {
    .Components1-header {
        font-size: 2rem;
    }

    .Components1-content {
        font-size: 1rem;
    }

    .Components1-picture {
        margin-top: 20px;
        height: 250px;
        width: 250px;
    }

    .Components1-button1, .Components1-button2 {
        padding: 10px 15px;
        font-size: 0.9rem;
    }
}
