.Component6-container {
    padding-bottom: 20px;
}

.Component6-header {
    display: flex;
    flex-direction: row;
    font-size: 2.5rem;
    font-weight: 500;
    gap: 5px;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
}

.Component6-yellow {
    background-color: #f7c844;
    padding: 3px;
}

.Component6-subheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    text-align: center;
    padding-bottom: 20px;
}

.Component6-subheader-line {
    height: 2px;
    width: 300px;
    background-color: #ec6c34;
}

.Component6-subheader-text {
    font-size: 1.5rem;
}

.Component6-team-container1,
.Component6-team-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Responsive Styles */

@media (max-width: 1200px) {
    .Component6-header {
        font-size: 2rem;
    }

    .Component6-subheader-text {
        font-size: 1.3rem;
    }

    .Component6-subheader-line {
        width: 250px;
    }

    .Component6-team-container1,
    .Component6-team-container2 {
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .Component6-header {
        font-size: 1.8rem;
        flex-direction: column;
        padding-top: 30px;
    }

    .Component6-subheader {
        flex-direction: column;
        gap: 10px;
    }

    .Component6-subheader-line {
        width: 200px;
    }

}

@media (max-width: 480px) {
    .Component6-header {
        font-size: 1.5rem;
    }

    .Component6-subheader-text {
        font-size: 1.1rem;
    }

    .Component6-subheader-line {
        width: 150px;
    }

}
